mixin checkbox()
    div(class='checkboxBar box__checkboxBar')
        input(type="checkbox" class='checkbox box__checkbox' id='checkbox')
        label(for="checkbox" class="switch") получать спецпредложения
