.dateDropdown{
background: #FFFFFF;
/* Dark 25% */
border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 4px;
width: 150px;
height: 44px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

