div(class='boxWishes__guests')   
     span(class='boxElementHeader') Гости
     div(class='dropdown boxWishes__dropdown')
          span(class='text dropdown__text') Сколько гостей                    
          div(class='expandMore')