div(class='boxWishes__guests')   
     span(class='boxElementHeader') Гости
     div(class='guestsDropdown boxWishes__guestsDropdown')
           span(class='dropdown__TextWrap') 
               input(name='guests' placeholder='Сколько гостей ' class='dropdownText')                   
           div(class='expandMore')
