div(class='guestsDropdownContent')
    div(class='guestsDropdownContent__guestsGroup')
        span(class='guestsDropdownContent__groupName') взрослые
        include ../../../libraty.blocks/counter/counter.pug
    div(class='guestsDropdownContent__guestsGroup')
        span(class='guestsDropdownContent__groupName') дети
        include ../../../libraty.blocks/counter/counter.pug  
    div(class='guestsDropdownContent__guestsGroup')
        span(class='guestsDropdownContent__groupName') младенцы
        include ../../../libraty.blocks/counter/counter.pug
    div(class='buttonBar guestsDropdownContent__buttonBar')
       include ../../../libraty.blocks/buttons/inlineButtons/inlineButtonClear.pug
       include ../../../libraty.blocks/buttons/inlineButtons/inlineButtonAccept.pug
       