.mediumButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 44px;
    border-radius: 22px;
    box-sizing: border-box;
    // border: 1px solid black;
}