div(class='dateDropdown leave boxWishes__dateDropdown')
     //- span(class='dropdownText') ДД.ММ.ГГГГ   
     div
          span
               input(type="text" placeholder="ДД.ММ.ГГГГ" class=' dropdownText leave datepicker-here')                   
     div(class='expandMore')