div(class='dropdown dateDropdown arrive boxWishes__dateDropdown')
     //- span(class='dropdownText') ДД.ММ.ГГГГ   
     span(class='dropdown__TextWrap')
          input(type="text" placeholder="ДД.ММ.ГГГГ" class='dropdownText arrive datepicker-here')                   
     div(class='expandMore')