div(class='dateDropdown leave boxWishes__dateDropdown')  
       span(class='dropdown__TextWrap')
           input(type="text" placeholder="ДД.ММ.ГГГГ" class=' dropdownText' name='leave')                   
       div(class='expandMore')