div(class='dropdown dateDropdown arrive box__dateDropdown')
     //- span(class='dropdownText') ДД.ММ.ГГГГ   
     span(class='dropdown__TextWrap')
          input(type="text" placeholder="ДД.ММ.ГГГГ" class='dropdownText datepicker-here' name='arrive')                   
     div(class='expandMore')