doctype html 
head
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand" rel="stylesheet">
    //- <link rel="stylesheet", href="/common.blocks/wishes/wishes.scss">
    title hotel
body
    div(class='boxWishes')
        h1(class='cardHeader boxWishes__cardHeader') Найдём номера под <br>ваши пожелания
        div(class='boxWishes__date boxWishes__date_margin-left')
            span(class='boxElementHeader') прибытие
            include ./libraty.blocks/dropdown/dateDropdown/dateDropdown.pug
        div(class='boxWishes__date leave boxWishes__date_margin-right')
            span(class='boxElementHeader') выезд    
            include ./libraty.blocks/dropdown/dateDropdown/dateDropdown.pug
        include ./libraty.blocks/dropdown/dropdown/dropdown.pug
        include .\libraty.blocks\buttons\bigButtons\bigButton.pug
                
script(src="index.js")