doctype html 
head
    //- <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand" rel="stylesheet">
    //- <link rel="stylesheet", href="/common.blocks/wishes/wishes.scss">
    title hotel
body
    div(class='boxWishes')
        h1(class='cardHeader boxWishes__cardHeader') Найдём номера под <br>ваши пожелания
        div(class='boxWishes__date boxWishes__date_margin-left')
            span(class='boxElementHeader') прибытие
            include ./libraty.blocks/dropdown/dateDropdown/dateDropdown_arrive.pug
        div(class='boxWishes__date leave boxWishes__date_margin-right')
            span(class='boxElementHeader') выезд    
            include ./libraty.blocks/dropdown/dateDropdown/dateDropdown_leave.pug
        include ./libraty.blocks/dropdown/guestsDropdown/guestsDropdown.pug
        include ./libraty.blocks/dropdown/guestsDropdown/guestsDropdownContent.pug
        include .\libraty.blocks\buttons\bigButtons\bigButton.pug
        
script(src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="  crossorigin="anonymous")  
//- script(src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js")      
script(src="index.js")