.button{
    display: flex;
    // justify-content: space-between;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;

    color: #BC9CFF;
}